{% extends 'basic.html' %}

{%block content%}
<div>
    <h1>Add Time Slot</h1>
    <div>

        <form method="POST" action="">
            {% csrf_token %}

            <div><label>Room Owner </label>
                <input type="text" name="room_owner" value="{{user.username}}" disabled/></div>
            <div><label>Room Name </label>
                <input type="text" name="room_name" value="{{room_name}}" disabled/></div>
            <div><label>Start Time</label>
                <input type="time" name="start_time" value="12:00" required/></div>
            <div><label>End Time</label>
                <input type="time" name="end_time" value="15:00" required/></div>

            <input type="submit" value="Add Time Slot"> </input>
        </form>

    </div>
    <h4> List Of Time Slots </h4>
    {% if ts %}
    <table>
        <thread>
            <tr>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Delete</th>
              </tr>
        </thread>
        <tbody>
        {% for x in ts %}
            <tr>
                <td>{{x.start_time | time:'H:i'}}</td>
                <td>{{x.end_time | time:'H:i'}}</td>
                <td>
                    <form action="{% url 'delete_slot' x.room_id.id x.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="slot_id" value="{{x.id}}"> </input>
                        <input type="hidden" name="start_time" value="{{x.start_time | time:'H:i'}}"> </input>
                        <input type="hidden" name="end_time" value="{{x.end_time | time:'H:i'}}"> </input>
                        <input type="hidden" name="end_time" value="{{x.end_time | time:'H:i'}}"> </input>
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
        <br>
            <p>No Time Slot Available.</p>
    {% endif %}


</div>

{%endblock content%}