{% extends 'basic.html' %}

{%block content%}
<div>
    <h1>Add room</h1>
    <div>

        <form method="POST" action="">
            {% csrf_token %}
                <label>Room Owner </label>
                <input type="text" name="room_owner" value="{{user.username}}" disabled> </input>
                {{form.as_p}}
<!--            <label> Room Owner:</label>-->
<!--            <input disabled value="{{username}}"/>-->

<!--            <label> Room Name:</label>-->
<!--            <input type="text" name="room_name" placeholder="Enter Room Name"/>-->

            <input type="submit" value="Add Room"> </input>
        </form>

    </div>

</div>

{%endblock content%}