{% extends 'basic.html' %}

{%block content%}
<div>
    <h1> Manager Page</h1>
    <div>
        <form method="POST" action="{% url 'advance_days' %}">
            {% csrf_token %}
            <div>
                <Label>No. of days to Book in Advance </Label>
                <input type="text" name="adv_days" value="{{adv_days.no_of_days}}" required>
                <input type="submit" value="Edit">
            </div>
        </form>
        <div>
            <a href="{% url 'create_room'%}"> Create Room </a>
        </div>
        {%if rooms %}
            <table>
                <thread>
                    <tr>
                        <th>Room Name </th>
                        <th colspan="2"> Action </th>
                    </tr>
                </thread>

                <tbody>
                    {% for room in rooms %}
                    <tr>
                        <td>
                            <Label>{{room.room_name}}</Label>
                        </td>
                        <td>
                            <form action="{% url 'time_slot' room.id%}" >
                                {% csrf_token %}
                                <input type="submit" class="button " value="Edit"> </input>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'delete_room' room.pk %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" class="button btn-warning" value="Delete"> </input>
                            </form>
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        {% endif %}
        <a href="{% url 'bookings' %}">
            <button>Bookings </button>
        </a>
    </div>

</div>

{%endblock content%}