{% extends 'basic.html' %}

{%block content%}
<div class="container d-flex justify-content-center">
  <div class="w-50  border rounded shadow p-3 rounded-3 bg-light" ><p> Planning to host a meeting or conduct an interview in a private and highly business-like environment?
    <br>We have
    rental meeting room with facilities for a range of requirements. Also, you can book a meeting room by slot basis.
    <br>
    It you are new to the website <a href="{% url 'loginPage'%}">Join Us</a>
  </div>
</div>

{%endblock content%}