{% extends 'basic.html' %}

{%block content%}
<div class="container">
    <div>
        <h1> Profile Page </h1>

        {% if request.user.is_manager %}
        <form method="POST" action="{% url 'profile_manager' %}">
            {% else %}
            <form method="POST" action="{% url 'profile_client' %}">
                {% endif %}
                {% csrf_token %}
                <div><Label class="form-label mb-2">Username : </Label>
                    <input class="form-control mb-2" type="text" value="{{request.user}}
{% if request.user.is_manager %}(manager){% else %} (client){% endif %}" disabled></div>
                <input type="hidden" name="username" value="{{request.user}}">
    </div>
    <div><Label class="form-label mb-2">First Name :</Label>
        <input class="form-control mb-2" type="text" name="first_name" value="{{request.user.first_name}}"></div>
    <div><Label class="form-label mb-2">Last Name :</Label>
        <input class="form-control mb-2" type="text" name="last_name" value="{{request.user.last_name}}"></div>
    <div><Label class="form-label mb-2">Email :</Label>
        <input class="form-control mb-2" type="text" name="email" value="{{request.user.email}}"></div>
    <div><Label class="form-label mb-2">Phone :</Label>
        <input class="form-control mb-3" type="text" name="phone" value="{{request.user.phone}}"></div>
    <input type="submit" class="btn btn-outline-dark btn-sm" value="Edit">
    </form>

</div>
</div>
</div>

{%endblock content%}