{% extends 'basic.html' %}



{%block content%}
{% if page == 'login' %}
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <Label> Username: </Label>
            <input type="text" name="username" placeholder="Enter Username"> </input>

            <Label> Password: </Label>
            <input type="password" name="password" placeholder="Enter Password"> </input>

            <input type="submit" value="Login">
        </form>
        <hr>
        <a href="{% url 'manager_signup' %}">Create Manager Account </a>
        <hr>
        <a href="{% url 'client_signup' %}"> Create Customer Account </a>

    </div>
{% else %}
    {% if page == 'manager' %}
        <h3> Sign Up as Manager </h3>
    {% elif page == 'customer' %}
        <h3> Sign Up as Customer </h3>
    {% endif %}
        <div>
            <form method="POST" action="">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Register">
            </form>

            <p> Already Signed Up? </p>
            <a href="{% url 'loginPage' %}"> Login </a>
        </div>

{% endif %}



{%endblock content%}